* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.852);
}

main {
  margin: 60px 0px 0px 0px;
}

/* BODY */

body {
  width: 100%;
  display: flex;
  background-color: #0f0f0f !important;
  overflow-x: hidden;
}

p {
  margin: 0px !important;
}

/* STREMU-LOGO */

.stremu-logo {
  width: 100px;
  height: 40px;
  object-fit: cover;
  margin: 0px 25px 0px 0px;
}

/* NAVBAR */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #0f0f0fe0;
}
.perfil {
  .perfil-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
}

span.navbar-toggler-icon {
  filter: invert(1);
}

nav.navbar.navbar-expand-lg {
  background: #0f0f0f;
}

/* ACCESOS RAPIDOS */

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0px;

  .link-1 {
    p {
      display: flex;
      gap: 6px;
      font-size: 1.2rem;
    }
    img {
      gap: 50px;
      filter: invert();
    }
  }
}

.separador {
  border: 1px solid rgba(255, 255, 255, 0.464);
}

/* buscador */

.buscador-contenedor {
  width: 100%;
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.479);
  border-radius: 20px;
  .buscador {
    width: 92%;
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 100%;
    background-color: #0f0f0f;
    padding: 6px 20px;
    border: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
.buscador-icon {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  img {
    filter: invert();

    border-radius: 20px;
  }
}

.promocion {
  h1 {
    animation: slidetext 80s linear infinite;
  }
}

.titulo-seccion {
  h1 {
    animation: slidepromo 20s linear infinite;
  }
}

/* TEXT SLIDER */
.slider-text {
  width: 100%;
  overflow: hidden;
  margin: 20px 0px;

  .titulo-seccion,
  .promocion {
    background-color: #ff6200;
    width: 100vw;
    height: 40px;
    overflow: hidden;
    display: flex;
    gap: 100px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      gap: 5px;
      white-space: nowrap !important;

      img {
        filter: invert();
        width: 60px;
      }
    }
  }
}


@keyframes slidetext {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-500%);
  }
}

@keyframes slidepromo {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-500%);
  }
}

/* VIDEOS */

.contenendor-videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.video {
  width: 90%;
  margin: 0px 0px 20px 0px;
  .miniatura {
    width: 100%;
    position: relative;
    p {
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: #0f0f0fc3;
      padding: 0px 8px;
      border-radius: 8px;
    }
    .miniatura-img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .video-descripcion {
    width: 100%;
    padding: 10px 0px 0px 0px;
    gap: 15px;
    display: flex;
    .canal {
      img {
        width: 40px;
        border-radius: 100%;
      }
    }
  }
}
.titulo {
  h4 {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 líneas/párrafos */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.estadisticas {
  font-size: 0.8rem;
}

/* ASIDE */

aside {
  display: none;
}

.navbar-desk {
  display: none; /* SE DEJA DE MOSTRAR LA BARRA DE NAVEGACION QUE ES PARA LA VERSION DE ESCRITORIO */
}

/* VISTA PREVIA */

.vista-previa {
  display: none;
}

.miniatura:hover :is(.miniatura-img, p) {
  display: none;
}

.miniatura:hover :is(.vista-previa) {
  display: flex;
  box-shadow: -5px 5px 0px 1px #ff6200;
  transform: translateY(-10px) translateX(10px);
  border-radius: 5px;
  video {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    animation: miniatura 5s ease-in 1;
    border-bottom-left-radius: 0px;
  }
}

@keyframes miniatura {
  0% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

/* CATEGORIAS DE VIDEOS */

.titulo-seccion {
  width: 100%;
  padding: 0px 0px 0px 10px;

  h1 {
    display: flex;
    font-weight: 1rem;
    gap: 6px;

    img {
      width: 40px;
      filter: invert();
    }
  }
}

/* VIDEOS CORTOS */

.cortos-contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
  justify-content: center;
  gap: 20px;

  .cortos {
    width: 44vw;
  }

  .cortos:nth-child(3) {
    display: none;
  }

  .cortos:nth-child(4) {
    display: none;
  }

  .cortos:nth-child(5) {
    display: none;
  }
}

.miniatura {
  width: 100%;
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.cortos-des {
  h4 {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 líneas/párrafos */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .canal {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;

    .canal-imagen {
      img {
        width: 35px;
        border-radius: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .contenendor-videos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .video {
      width: 45vw;
    }
  }

  .cortos-contenedor {
    .cortos {
      width: 30vw;
    }
    .cortos:nth-child(3) {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  /* No mostrar */
  .show {
    display: none;
  }

  /* NAV-BAR PHONE */

  nav.navbar.navbar-expand-lg {
    display: none;
  }

  /* NAVBAR-ESCRITORIO */

  .navbar-desk {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 30%;
    font-size: 1.4rem;
    display: flex;
    padding: 0px 0px 0px 45px;
    justify-content: start;
    align-items: center;
    align-content: center;
  }

  .buscador-contenedor {
    width: 40%;
    margin: 0px;
  }

  .perfil {
    width: 30%;
    display: flex;
    justify-content: end;
    margin: 0px 20px 0px 0px;
  }

  /* VIDEOS */
  .contenendor-videos {
    width: 100%;
    gap: 5px;

    .video {
      width: 25vw;
      margin: 1% 0px 0px 1%;
    }
  }

  /* VIDEOS CORTOS */

  .cortos-contenedor {
    .cortos {
      width: 18vw;
    }

    .cortos:nth-child(4) {
      display: block;
    }
  }

  /* MAIN */

  main {
    flex-direction: column;
    align-items: end;
  }

  /* ASIDE */

  aside {
    display: flex;
    width: 20%;
    height: 100%;
    position: sticky;
    top: 0;

    padding: 70px 0px 0px 0px;
  }

  .accesos-rapidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .accesos-1 {
      display: flex;
      width: 80%;
      padding-left: 8px;
      border-radius: 10px;
      padding-left: 15px;
      align-items: center;
      justify-content: start;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        gap: 10px;
      }
    }
  }

  .selected {
    background-color: rgb(33, 33, 33);
  }

  .icon {
    width: 33px;
    filter: invert();
  }

  /* SEPARADOR */

  .separador {
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.586);
  }

  /* Canales sugeridos */

  .canal-segerido {
    display: flex;
    margin: 5px 30px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .canal-perfil {
        width: 40px;
        border-radius: 100%;
      }
    }
  }
}

@media (min-width: 1440px) {
  /* MAIN */
  main {
    width: 80%;
  }

  /* ASIDE */

  aside {
    width: 20%;
  }

  .accesos-rapidos {
    .accesos-1 {
      padding-left: 15px;
    }
  }

  .contenendor-videos {
    .video {
      width: 25vw;
    }
  }

  /* VIDEOS CORTOS */

  .cortos-contenedor {
    display: flex;
    justify-content: center;

    .cortos {
      width: 14vw;
    }

    .cortos:nth-child(5) {
      display: block;
    }
  }
}
