*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;

}
article{
    margin: 20px;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article img{
    border-radius: 10px;
    margin-bottom: 15px;
}
article .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    a{
        background-color: #ff4600;
        border-radius: 5px;
        padding: 1px 15px;
        color: white;
        text-decoration: none;
        
    }
}