* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-pagina {
  text-align: center;
  h2 {
    font-size: 40px;
    color: #fff;
    text-shadow: 1.3px -0.4px 0px #000, 
                 3px -0.6px 0px #ff4600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    &:hover{
        color: #ff4400;
        text-shadow: 1.3px -0.4px 2px #fff, 
                 3px -0.6px 5px #ff4600;
                 
        font-weight: 800;
    }
  }
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.contenedor .box {
  text-align: center;
  width: 90%;
  height: 70vh;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
}
.contenedor .img img {
  width: 101.4%;
  margin-left: -2px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.info-nombre {
  width: 101.4%;
  margin-left: -2px;
  background-color: transparent;
  border: 3px solid #ff4600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 1s ease-in-out;
  h2 {
    padding-top: 8px;
  }
}

.info-nombre:hover {
  background-color: #ff4600;
  border: 3px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info-descripcion {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.button-git {
  border: 2px solid #ff4600;
  background-color: #0f0f0f;
  border-radius: 6px;
  padding: 0px 0px;
  transition: all 1s ease-in-out;
  position: absolute;
  bottom: -13px;
  a {
    padding: 0px 30px;
    text-decoration: none;
    color: white;
  }
  &:hover {
    background-color: #ff4600;
    border: 2px solid transparent;
  }
}

@media (min-width: 768px) {
     .titulo-pagina{
        h2{
            font-size: 55px;
            text-shadow: 2px -0.4px 0px #000, 
                         5px -0.6px 0px #ff4600;
            letter-spacing: 3px;
        }
     }
  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .contenedor {
    margin: auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 1024px) {
    .titulo-pagina {
  text-align: center;
  h2 {
    font-size: 60px;
    color: #fff;
    text-shadow: 2px -0.4px 0px #000, 
                 5px -0.6px 0px #ff4600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: 600;
    &:hover{
        color: #ff4400;
        text-shadow: 2px -0.4px 1px #fff, 
                 0px -0.6px 15px #fff;
                 
        font-weight: 800;
    }
  }
}
  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .contenedor {
    margin: -10px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 32%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contenedor .box {
    text-align: center;
    width: 90%;
    height: 75vh;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
  }
  .info-nombre {
    h2 {
      padding-top: 8px;
      font-size: 20px;
    }
  }
  .button-git {
    padding: 0px 0px;
    a {
      padding: 0px 30px;
    }
  }
}
@media (min-width: 1440px) {
  .contenedor .img img {
    height: 250px;
  }
  .info-descripcion {
    padding: 25px;
    display: flex;
    justify-content: center;
  }
  .button-git {
    padding: 0px 0px;
    a {
      padding: 0px 40px;
    }
  }
}
@media (min-width: 1500px) {
  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .contenedor .box {
    text-align: center;
    width: 90%;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
  }

  .button-git {
    padding: 0px 0px;
    a {
      padding: 0px 40px;
    }
  }
}
