@import "./import/aside.css";
@import "./import/navbar.css";
@import "./import/general.css";
@import "./import/text-slider.css";
@import "./import/categorias-contenedor.css";
@import "./import/vista-previa.css";

.cotenedor-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.usuario-banner-contenedor {
  width: 100%;
  object-fit: cover;
  padding: 0px 10px;
}

.usurio-banner {
  width: 100%;
  position: relative;
}

.usurio-banner_imagen {
  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 160px;
  }
}

.usuario-banner_canal {
  position: absolute;
  bottom: -30px;
  left: 8px;
  padding: 5px 15px;
  display: flex;
  justify-content: start;
  background-color: black;
  border-radius: 10px;
  align-items: center;
  gap: 10px;

  .botones {
    background-color: rgb(18, 18, 18);
    padding: 0px 10px;
    border-radius: 5px;
    display: flex;
    transition: 0.5s;

    &:hover {
      background-color: #ff6200;
      transform: scale(1.05);
    }

    button {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;

      img {
        width: 20px;
        filter: invert();
      }
    }
  }

  .usuario-banner_canal-imagen {
    width: 50px;
    border-radius: 20px;
  }
}

.usuario-banner_biografia {
  width: 100%;
  background-color: rgb(21, 21, 21);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  padding: 45px 20px;
}

.usuario-banner_biografia-contendio {
  width: 100%;
}

.usuario-banner_biografia-botones {
  width: 20%;
}

.usuario_descripcio {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;

  &:hover {
    -webkit-line-clamp: 100;
  }
}

/* VIDEOS DESTACADOS */

.seccion-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos-destacados_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px 0px;
}

.videos-destacados-contenedor {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.videos-destacados-info_descripcion_titulo {
  font-size: 1rem;
}

.videos-destacado {
  width: 90vw;
}

.videos-destacados_miniatura {
  width: 100%;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

.videos-destacados-info {
  width: 100%;
  display: flex;
  padding: 10px 0px;
}

.videos-destacados-info_canal {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: start;

  div {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    img {
      width: 35px;
      border-radius: 100%;
    }
  }
}

.videos-destacados-info_descripcion {
  width: 85%;
  display: flex;
  justify-content: start;
  flex-direction: column;

  .videos-destacados-info_descripcion_nombre {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;

    p {
      font-size: 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.seccion-2_categorias {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;

  .categorias-contenedor_frecuentes {
    width: 100%;
    display: flex;
    gap: 20px;
    width: max-content;
    padding: 5px 20px;

    .categorias {
      width: 14vh;
    }
  }
}

@media (min-width: 768px) {
  .videos-destacado {
    width: 44vw;
  }

  .videos-destacados-contenedor {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .categoria {
    width: 12vw;
  }

  .usuario-banner_canal {
    left: 25px;
  }

  .usurio-banner_imagen {
    img {
      height: 220px;
    }
  }

  .videos-destacado {
    width: 24vw;
  }

  .videos-destacados-contenedor {
    width: 100%;
    align-items: start;
  }

  .seccion-2_categorias {
    overflow-x: hidden;

    .categorias-contenedor_frecuentes {
      width: 100%;
      padding: 0px;
      justify-content: center;
    }
  }
}

@media (min-width: 1440px) {
  .seccion-2_categorias {
    justify-content: center;
  }

  .videos-destacados-contenedor {
    width: 95%;
  }
}
