* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contenedor-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.estadisticas-del-video {
  width: 100%;
  gap: 40px;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.video-contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;

  .video {
    width: 95%;
    margin: auto;

    video {
      width: 100%;
    }
  }
}

.info-del-video {
  display: flex;
  width: 95%;
  margin: auto;
  background: #212121;
  padding: 20px 0px;
}

.video-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 100%;

  img {
    border-radius: 100%;
    width: 40px;
  }
}

.video-info-2 {
  width: 60vw;
  .canal-nombre {
    p {
      display: flex;
      gap: 2px;
      font-size: 1.3rem;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    img {
      width: 30px;
    }
  }
}

.video-titulo {
  font-size: 0.9rem;
}

.video-info-3 {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estadisticas-del-video {
  img {
    filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(642%)
      hue-rotate(351deg) brightness(104%) contrast(101%);
  }
}

.botones {
  a {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ff6200;
    border-radius: 5px;
    padding: 0px 5px;
    gap: 5px;
    button {
      width: 70%;
      border: none;
      background-color: transparent;

      img {
        filter: invert();
      }
    }
  }
}

.video {
  margin: 0px;
}

/* COMENTARIOS */

.comentarios-contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;

  .titulo {
    width: 95%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .comentarios {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #212121;
  }
}

.comentario {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.usuario-perfil {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  background-color: #ff6200;
  border-radius: 5px;
  padding: 3px;
  img {
    width: 25px;
    border-radius: 100%;
  }
}

.usuario-comentario {
  width: 100%;
  background-color: #313131;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 1024px) {
  .video-info {
    width: 10%;
  }

  video {
    width: 95%;
  }

  .video-info-2 {
    width: 70%;
  }

  .video-info-3 {
    width: 20%;
  }
}

@media (min-width: 1440px) {
  .video-info {
    width: 7%;
  }

  .video-info-2 {
    width: 78%;
  }

  .video-info-3 {
    width: 15%;
  }
}
