@import "./import/aside.css";
@import "./import/navbar.css";
@import "./import/general.css";
@import "./import/footer.css";
@import "./import/videos-contenedor.css";
@import "./import/cortos-contenedor.css";
@import "./videos.css";

.video_descripcion-contenedor {
  h4 {
    font-size: 0.9rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  span {
    font-size: 0.7rem;
  }
}

@media (min-width: 1024px) {
  .videos-relacionados {
    .video {
      margin-bottom: 10px;
    }
  }

  .videos-relacionados {
    .video {
      .video_miniatura-img {
        width: 100%;
        height: 140px;
        border-radius: 10px;

        .videos_miniatura-img {
          height: 100%;
        }

        .vista-previa {
          height: 100px !important;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .videos-relacionados {
    .video {
      .video_miniatura-img {
        height: 190px;
      }
    }
  }
}
