* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  color: white;
}

.mobile {
  display: none;
}

body {
  background-color: rgba(0, 0, 0, 0.913);
  overflow-x: hidden;
}

/* BARRA DE NAVEGACION */

.barra-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #161616;
}

.links {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  align-items: center;
}

.contenedor-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
  background-color: #5c0000e7;
}

.links-2 {
  display: flex;
  font-size: 18px;
}

.links-2 a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
}

.links-2 a:hover {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
}

.icon {
  font-size: 22px;
  color: white;
}

.icon-2 {
  font-size: 22px;
  color: rgb(160, 0, 0);
}

.logo {
  width: 60px;
}

/* Banner inicial */

.banner {
  width: 100%;
  position: relative;
  background-size: cover;
  transition: 1s;
  background: linear-gradient(#000000, #272724);
}

.banner-img {
  width: 100%;
  height: 300px;
  position: relative;
  object-fit: cover;
  object-position: 0% 90%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  box-shadow: 10px 10px 10px 10px white;
  overflow-x: hidden;
  transition: 1s;
}

.banner-img:hover {
  transform: scale(1.1);
  object-fit: cover;
}

.banner-text {
  width: 60%;
  height: 100%;
  position: absolute;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  top: 0px;
  animation: texto-movimiento;
}

.banner-text h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

@keyframes texto-movimiento {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes mover {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-40px) perspective(400px) rotateY(25deg)
      rotateX(15deg);
  }
}

/* Buscador */

.seccion-1 {
  width: 100%;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  z-index: 23;
  margin: auto;
  padding: 20px 0px;
}

.buscador {
  width: 300px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-left: 4px solid red;
  background-color: rgba(0, 0, 0, 0.368);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
}

.buscador:hover {
  transform: scale(1.03);
}

.buscador:focus {
  outline: none;
  background-color: rgb(0, 0, 0);
}

.btn {
  font-size: 20px;
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  cursor: pointer;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.826);
  transition: 0.5s;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.701);
  color: white;
}

.material-symbols-outlined {
  color: black;
}

/* Seccion de posters de peliculas */

.seccion-2 {
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  z-index: 10;
}

.item-img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
  z-index: 10;
  height: 260px;
  object-fit: cover;
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 10px #00000073;
}

.poster-img:hover {
  transform: scale(1.05);
}

.items {
  background-color: rgb(0 0 0);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px #0000006e;
  transition: 0.5s;
  z-index: 10;
  width: 40vw;
  margin-bottom: 12px;
}

.item-text {
  padding: 16px;
  font-size: 12px;
}

.fondo {
  position: absolute;
  object-fit: cover;
  object-position: 0% 0%;
  width: 100%;
  height: 1700px;
  z-index: 1;
  filter: opacity(70%) grayscale(100%);
}

/* Informacion sobre el proyecto */

.sub-seccion {
  display: flex;
  gap: 10px;
}

.seccion-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 55, 55);
  padding: 30px;
  z-index: 5;
  position: relative;
}

.titulo-sobrenosotros {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sub-seccion-sobre-nosotros {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.sobre-nosotros,
.sobre-nosotros-2,
.sobre-nosotros-3 {
  width: 100%;
  background-size: cover;
  background-position: 0% 40%;
  background-color: rgba(0, 0, 0, 0.568);
  box-shadow: 0px 0px 20px 10px #0000003a;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 60px 10px;
  border-radius: 20px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

.sobre-nosotros-2 {
  background-color: rgba(0, 0, 0, 0.568);
}

.sobre-nosotros-3 {
  background-color: rgba(0, 0, 0, 0.568);
}

.sobre-nosotros:hover,
.sobre-nosotros-2:hover,
.sobre-nosotros-3:hover {
  transform: scale(1.1);
}

.sobre-nosotros h1 {
  font-size: 30px;
}

.sobre-nosotros-2 h1 {
  font-size: 30px;
}

.sobre-nosotros-3 h1 {
  font-size: 24px;
}

.nosotros-img {
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  position: absolute;
  filter: opacity(50%);
  z-index: -1;
}

.nosotros-text {
  font-size: 40px;
}

.nosotros-parrafo {
  font-size: 10px;
}

.seccion-4-titulo {
  font-size: 30px;
  padding-top: 40px;
  color: whitesmoke;
  text-align: center;
}

/* Seccion de galeria  de Imagenes */

.seccion-4 {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 200px);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}

.item-img-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.item-img-2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.item-img-2 .poster-img {
  grid-column: 2/2;
  grid-row: 1/2;
  object-position: 0% 15%;
}

.item-img-3 {
  grid-column: 1/3;
  grid-row: 3/3;
}

.item-img-7 {
  grid-column: 2/4;
  grid-row: 4/5;
}

.item-img-8 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.item-img-4 .poster-img {
  object-position: 50% 100%;
}

.item-img-3 .poster-img {
  object-position: 35% 0%;
}

.item-img-6 .poster-img {
  object-position: 50% 0%;
}

.item-img-8 .poster-img {
  object-position: 50% 10%;
  object-fit: cover;
}

/* Footer */

.final {
  width: 100%;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  background: #232323;
  position: absolute;
  z-index: 1;
  flex-direction: column;
}

.footer-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.footer-links {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  transition: 0.5s;
  color: #ffffff9e;
}

.footer-links a:hover {
  padding: 5px 10px;
  background-color: white;
  border-radius: 20px;
  color: black;
}

/* Vista para tablets */

@media (min-width: 768px) {
  .items {
    width: 25vw;
  }

  .fondo {
    height: 1000px;
  }

  .sub-seccion-sobre-nosotros {
    flex-direction: row;
  }

  .seccion-3 {
    padding: 5px 0px 40px 0px;
  }

  .sobre-nosotros,
  .sobre-nosotros-2,
  .sobre-nosotros-3 {
    width: 60%;
    height: 200px;
    padding: 15px 5px;
  }

  .sobre-nosotros h1 {
    font-size: 25px;
  }

  .sobre-nosotros h2 {
    font-size: 12px;
  }

  .sobre-nosotros-2 h1 {
    font-size: 25px;
  }

  .sobre-nosotros-2 h2 {
    font-size: 12px;
  }

  .sobre-nosotros-3 h1 {
    font-size: 25px;
  }

  .sobre-nosotros-3 h2 {
    font-size: 12px;
  }

  .final {
    flex-direction: row;
    gap: 40px;
  }
}

/* vista para laptops */

@media (min-width: 1024px) {
  .barra-nav {
    flex-direction: row;
  }

  .items {
    width: 19vw;
  }

  .links {
    width: 60%;
    justify-content: start;
  }

  .contenedor-links {
    width: 40%;
    background-color: transparent;
  }

  .sobre-nosotros,
  .sobre-nosotros-2,
  .sobre-nosotros-3 {
    justify-content: center;
  }

  .sobre-nosotros h1 {
    font-size: 35px;
  }

  .sobre-nosotros h2 {
    font-size: 20px;
  }

  .sobre-nosotros-2 h1 {
    font-size: 35px;
  }

  .sobre-nosotros-2 h2 {
    font-size: 20px;
  }

  .sobre-nosotros-3 h1 {
    font-size: 35px;
  }

  .sobre-nosotros-3 h2 {
    font-size: 20px;
  }

  .banner-text {
    width: 35%;
  }

  .buscador {
    width: 500px;
  }

  .final {
    flex-direction: row;
  }
}

/* vista para escritorio */
@media (min-width: 1366px) {
  .barra-nav {
    flex-direction: row;
  }

  .links {
    width: 60%;
    justify-content: start;
  }

  .contenedor-links {
    width: 40%;
  }

  .links-2 a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
  }

  .links-2 a:hover {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .banner-img {
    width: 100%;
    height: 500px;
  }

  .banner-img:hover {
    transform: scale(1.1);
    object-fit: cover;
  }

  .banner-text {
    width: 50%;
    height: 100%;
  }

  .banner-text h1 {
    font-size: 65px;
  }

  .item-img {
    width: 100%;
    height: 350px;
  }

  .items {
    width: 15vw;
  }

  .fondo {
    height: 1200px;
  }

  .seccion-1 h1 {
    font-size: 35px;
  }

  .seccion-4-titulo {
    font-size: 40px;
  }

  .seccion-4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-auto-rows: minmax(100px, auto);
  }

  .item-img-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .item-img-2 {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .item-img-2 .poster-img {
    grid-column: 2/2;
    grid-row: 1/2;
    object-position: 0% 15%;
  }

  .item-img-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .item-img-4 {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .item-img-5 {
    grid-column: 4/5;
    grid-row: 1/5;
  }

  .item-img-6 {
    grid-column: 2/2;
    grid-row: 2/5;
  }

  .item-img-7 {
    grid-column: 3/4;
    grid-row: 3/5;
  }

  .item-img-8 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .item-img-4 .poster-img {
    object-position: 50% 100%;
  }

  .item-img-3 .poster-img {
    object-position: 35% 0%;
  }

  .item-img-6 .poster-img {
    object-position: 50% 0%;
  }

  .item-img-8 .poster-img {
    object-position: 50% 10%;
    object-fit: cover;
  }

  .buscador {
    width: 400px;
  }

  .buscador:hover {
    transform: scale(1.03);
  }

  .buscador:focus {
    outline: none;
    background-color: rgb(0, 0, 0);
  }

  .btn {
    font-size: 20px;
    padding: 10px 20px;
  }

  .btn:hover {
    background-color: rgba(255, 0, 0, 0.701);
    color: white;
  }

  .seccion-2 {
    margin-bottom: 60px;
  }

  .titulo-sobrenosotros {
    font-size: 30px;
  }

  .sobre-nosotros,
  .sobre-nosotros-2,
  .sobre-nosotros-3 {
    width: 50%;
    padding: 60px 10px;
    z-index: 2;
    transition: 0.5s;
  }

  .sobre-nosotros-2 {
    background-color: rgba(0, 0, 0, 0.568);
  }

  .sobre-nosotros-3 {
    background-color: rgba(0, 0, 0, 0.568);
  }
}

.mostrar {
  display: none;
}

.items {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items:hover {
  z-index: 10;
}

.items:hover :is(.mostrar) {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 14;
  background-color: #000000;
  transform: scale(1.7);
  font-size: 10px;
  border-radius: 10px;
  width: 220px;
  height: 250px;
  animation: mostrarse 0.4s ease-out 1;
}

.items:hover :is(.item-img, .item-text) {
  display: none;
}

.items:hover {
  background-color: transparent;
}

@keyframes mostrarse {
  0% {
    width: 130px;
    height: 240px;
  }

  50% {
    width: 220px;
    height: 250px;
  }

  100% {
    width: 220px;
    height: 250px;
  }
}

/* @keyframes mostrarse {
  0% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.75);
  }

  90% {
    transform: scale(1.7);
  }

  95% {
    transform: scale(1.72);
  }

  100% {
    transform: scale(1.7);
  }
} */

.c-mayor-1 {
  width: 100%;
  display: flex;
}

.c-titulo {
  width: 75%;
}

.c-precio {
  width: 25%;
}
